@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}


.navbar {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo a {
    color: #0f4;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-left: -20px;
     font-family: 'Roboto', sans-serif; 
}

.menu {
    display: flex;
    align-items: center;
}


.dropdown button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.dropdown button:hover {
    color: #0f4;
}

.dropdown .fa {
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0f4;
    min-width: 160px;
    z-index: 1;
    margin-top: 13px;
    
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: Black;
    color: #0f4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* intro css start */
/* Mobile Styles */
.intro {
    height: auto;
    width: auto;
    padding: 50px;
    text-align: center;
    background-image: url('assets/thisizasif-web-bgi.jpg');
    background-size: cover; /* Fit the background image according to the screen size */
    background-position: center;
    background-repeat: no-repeat;
}

.intro h1 {
    font-size: 28px; /* Adjust the font size as needed */
    margin-bottom: 20px;
    margin-top: 52px;
    font-family: 'Anonymous Pro', monospace;
    color: aqua;
}

.intro p {
    font-size: 20px; /* Adjust the font size as needed */
    margin-bottom: 20px;
    font-family: 'Inconsolata', monospace;
     color: antiquewhite;
}

.intro button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.intro button:hover {
    background-color: #0056b3;
}

.intro a {
    text-decoration: none;
    color: inherit;
}
/* intro css end  */


/* */
/*work css start */


.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-item {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.work-item a{
    list-style: none;
    text-decoration: none;
}

.work-item img {
    display: block;
    margin: 0 auto 10px; /* Center the image horizontally and add some space below */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.work-title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px; /* Adjust font size as needed */
    margin-bottom: 5px; /* Adjust margin as needed */
}

.work-description {
    font-family: 'Arial', sans-serif;
    font-size: 14px; /* Adjust font size as needed */
    color: #777;
    margin-bottom: 10px; /* Adjust margin as needed */
}

.work-btn {
    padding: 8px 16px; /* Adjust padding as needed */
    font-size: 14px; /* Adjust font size as needed */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.work-btn:hover {
    background-color: #0056b3;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .work-container {
        justify-content: center;
    }

    .work-item {
        flex: 0 0 calc(100% - 20px);
        margin: 0 auto 20px;
    }
}

/* work css end*/

/* footer css start*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


