body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo a {
    color: #0f4;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
}


.dropdown button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.dropdown button:hover {
    color: #0f4;
}

.dropdown .fa {
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    margin-top: 15px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: Black;
    color: #0f4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* This is a comment in  */
/* Mobile Styles */
.intro {
    height: auto;
    width: auto;
    padding: 50px;
    text-align: center;
    background-image: url('your-background-image.jpg');
    background-color: yellow;
    background-size: cover;
    background-position: center;
}

.intro h1 {
    font-size: 28px; /* Adjust the font size as needed */
    margin-bottom: 20px;
    margin-top: 52px;
    font-family: 'Anonymous Pro', monospace;
    color: aqua;
}

.intro p {
    font-size: 20px; /* Adjust the font size as needed */
    margin-bottom: 20px;
    font-family: 'Inconsolata', monospace;
}

.intro button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.intro button:hover {
    background-color: #0056b3;
}

.intro a {
    text-decoration: none;
    color: inherit;
}
